@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex mono', monospace;
  font-size: 16px;
  cursor: url('https://almaas-ice.github.io/me/assets/Cursor-Circle.svg'), auto;
}

html:active {
  cursor: url('https://almaas-ice.github.io/me/assets/Cursor-Clicked.svg'), auto;
}

::selection {
  background: hsla(231, 79%, 80%, 1);
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

div.container {
  max-width: 360px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding-bottom: 24px;
  z-index: 2;
}

div.greetings-wrapper {
  padding: 0 8px;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 500;
  color: hsla(0, 0%, 20%, 1);
}

p {
  font-size: 0.875rem;
  line-height: 140%;
  color: hsla(231, 79%, 10%, 0.6);
  margin-top: 1rem;
}

a.link {
  display: flex;
  width: 100%;
  height: 78px;
  padding: 16px 8px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
  margin-top: -1px;
  justify-content: space-between;
  align-items: end;
  cursor: inherit;
}

a.link span.text-link {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: hsla(0, 0%, 20%, 1);
}

a.link img.icon {
  width: 24px;
  height: 24px;
}

span.blur-bg {
  display: block;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background: rgba(79, 101, 234, 0.90);
  filter: blur(57px);
  position: absolute;
  top: -78px;
  left: calc(50% + 64px);
}

div.flower {
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  animation: spin 6s infinite linear;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
}

div.flower:hover {
  animation: spin 50s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ripple */
a.link {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.link:focus {
  outline: none !important;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: hsla(231, 79%, 75%, 1);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (hover: hover) {
  a.link:hover {
    background-color: hsla(231, 79%, 95%, 1);
  }
}
